$primarycolor: rgb(75, 75, 170);
$boxencolor: red;
$headingcolor: yellow;

$sizes: 10, 20, 50, 100, 200;
$colors: brown, green, purple, wheat, red, green;

@each $size in $sizes {
    .div-#{$size} {
      height: #{$size}px;
      width: #{$size}px;
    }
  }
@each $color in $colors{
    .color-#{$color} {
        background-color: #{$color};
    }
}


@mixin border{
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

h1 {
    color: $primarycolor;
}
h2{
    color: $primarycolor;
}

.unterbox{
    .box{
        color: $boxencolor;
    }
    h2{
        color: $headingcolor;
    }

    &.box{
        @include border;
        color: blue;
    }
}

